@import url('library.css');

  .page-contact{
    width: 100%;
    height: fit-content;
    display: flex;
  }
  .page-contact-image-place{
    width: 50%;
    height: 100vh;
    overflow: hidden;
    direction: rtl;
  }
  .page-contact-Form{
    width: 50%;
    height: fit-content;
  }
  .page-contact-image{
    height: 100%;
    object-fit: cover;
  }
  .return-help{
    width: 100%;
    height: 50PX;
    display: flex;
    justify-content: space-between;
  }
  .return-place{
    width: 50PX;
    height: 50PX;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .return{
    width: 40PX;
    height: 40PX;
    border-radius: 5PX;
    background-color: var(--colorGray3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .return:hover{
    background-color: var(--colorGray4);
  }
  .help{
    width: 50PX;
    height: 50PX;
    margin-right: 10PX;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: var(--font1);
    color: var(--colorGray2);
  }
  .help:hover{
    text-decoration: underline;
  }
  .return-img{
    width: 25PX;
    height: 25PX;
  }
  .title1{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    font-weight: bold;
    font-size: 30PX;
    color: var(--colorYellow2);
    margin-top: 20PX;
  }
  .title2,.line-place{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    font-size: 12PX;
    color: var(--colorGray2);
  }
  .line-place{
    margin-top: 10PX;
  }
  .line-contact{
    width: 250PX;
    height: 1PX;
    background-color: var(--colorGray);
  }
  .group-form{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 40PX;
  }
  .group-form-center{
    width: 80%;
    height: fit-content;
  }
  .bloc-inp{
    width: 100%;
    height: fit-content;
  }
  .titre-input{
    width: 100%;
    height: fit-content;
    margin-bottom: 4PX;
    font-family: var(--font1);
    font-size: 12PX;
    font-weight: bold;
    margin-top: 10PX;
  }
  .place-input{
    width: 100%;
    height: 43PX;
    background-color: var(--colorWhite);
    border-radius: 5PX;
    border: 2PX solid var(--colorYellow2);
    padding-left: 7PX;
  }
  .place-input-message{
    width: 100%;
    height: 150PX;
    background-color: var(--colorWhite);
    border-radius: 5PX;
    border: 2PX solid var(--colorYellow2);
    padding-left: 7PX;
    padding-top: 7PX;
  }
  .inp{
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 0PX;
  }
  .place-button-contact{
    width: 100%;
    height: fit-content;
    margin-top: 20PX;
    display: flex;
    justify-content: center;
  }
  .button-contact{
    width: 80%;
    height: 43PX;
    border: none;
    outline: none;
    padding: 0PX;
    border-radius: 5PX;
    font-family: var(--font1);
    font-size: 15PX;
    background-color: var(--colorYellow2);
    cursor: pointer;
  }
  .button-contact:hover{
    background-color: var(--colorYellow3);
  }









  @media (max-width: 600px) {
    .page-contact-image-place{
      display: none;
    }
    .page-contact-Form{
      width: 100%;
    }
  }

  